# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

NEXT_PUBLIC_DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require&channel_binding=require"
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require&channel_binding=require"

AUTH_GOOGLE_ID="your_google_client_id_here"
AUTH_GOOGLE_SECRET="your_google_client_secret_here"
AUTH_SECRET="your_generated_auth_secret_here"
AUTH_TRUST_HOST=true
AUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="your_generated_auth_secret_here"
